<div class="user-page">
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>

  <% @users.each do |user| %>
    <div class="user-cont">
      <div>
        <img src="https://user-images.githubusercontent.com/37116322/222183427-3450696b-429a-4e9a-9e19-48bbe4b48edf.png" alt="profile">
      </div>
      <div class="user-info">
        <h2><%= user.name %></h2>
        <div>
          <p>Number of posts: <%= user.posts_counter %></p>
          <%= link_to 'View', "/users/#{user.id}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>